.protected{
  border-radius: 30px;;
  background-color: rgba(143,44,42,.2);
  padding-inline:5%;
  padding-top:20px;
  margin:3%;
  box-shadow: 1px 1px 30px black;
  height: 90vh;
  width:70vw;
  margin-inline: auto;
  min-width:500px;
  
}

.lacasaimg{
  width:90%;
  position:fixed;
  left:50%;
  transform:translate(-50%);
  bottom:0;
  z-index:-2;
  filter:blur(4px);
}

.protectedupper{
  background-image:linear-gradient(90deg, rgba(16,16,16,.5),rgba(76,84,83,.5));
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  z-index: -1;
  width: 100%;
  filter:blur(10px);
}

.protectedOutletContainer{
  padding:5%;
  border-radius: 0 20px 20px 20px;
  background-color:rgba(255,255,255,.3);
  transition-duration: .3s;
  box-shadow: 1px 1px 20px black;
  height:85%;
  overflow:auto;
}

.protectedOutletContainer:hover{
  background-color:rgba(255,255,255,.8) ;
}

.protectedOutletContainer::-webkit-scrollbar{
  width:3px;
  
}
.protectedOutletContainer::-webkit-scrollbar-track{
 background-color: transparent;
}

.protectedOutletContainer::-webkit-scrollbar-thumb{
  background-color: brown;
}